<p-menubar [model]="items">
    <ng-template pTemplate="start" >
        <img src="assets/cart_rm.png" class="logo" routerLink="/products" alt="logo" >
    </ng-template>

    <ng-template pTemplate="end" *ngIf="!isAdminMode">
        <button class="p-button-success" routerLink="/auth/login" pButton label="Iniciar sesión" icon="pi pi-sign-in"   ></button>

        <button  pButton label="Registrarse" icon="pi pi-id-card"  class="spacingLoginButton"></button>

        <button pButton icon="pi pi-shopping-cart" class="p-button-success spacingLoginButton" spacingLoginButton pTooltip="Ver Carrito" tooltipPosition="bottom"></button>
  
    </ng-template>


</p-menubar>