<p-menubar [model]="items">
    <ng-template pTemplate="start" >
        <img src="assets/cart_rm.png" class="logo" routerLink="/products" alt="logo" >
    </ng-template>

    <ng-template pTemplate="end" *ngIf="!isAdminMode">
        <button class="p-button-success" routerLink="/auth/login" pButton label="Iniciar sesión" icon="pi pi-sign-in"   ></button>

        <button  pButton label="Registrarse" routerLink="/products-public/register-customer" icon="pi pi-id-card"  class="spacingLoginButton"></button>

        <app-shopping-cart class="ml-2"></app-shopping-cart>
    </ng-template>


</p-menubar>